##################################
#           PRODUCTION           #
##################################

##### Frameworks #####
autonomous-app == 0.0.5

##### Configuration and Documentation #####


##### System #####


##### API #####


##### Database #####


##### Frontend #####



##### Network #####

requests
gunicorn

##### Security #####


##### Async ##### 


##### AI #####


##### Parsing #####

dateparser

##################################
#           DEVELOPMENT          #
##################################

pytest
pytest-cov