{% macro fullnav(footer_text=None) -%}

<nav class="top is-mobile-responsive has-centered has-bg-secondary">
  <div class="top__brand ">
    <a href="/">
      <div class="row is-flex-start">
        <div class="column is-shrink">
          <div class="image is-medium">
            <iconify-icon icon="material-symbols:alarm-smart-wake-outline" width="100%" height="100%"></iconify-icon>
          </div>
        </div>
        <div class="column">
          <span class="is-very-big-heading">Intervals</span>
        </div>
      </div>
    </a>
  </div>
</nav>

{%- endmacro %}