{% macro sidenav() -%}
<div class="is-mobile-only has-bg-primary" id="slideout-menu">
  <nav class="top has-bg-secondary">
    <div class="top__burger has-animate is-end" id="slideoutmenu-close">
      <span></span>
    </div>
  </nav>
  <nav class="menu has-bg-primary">
    <p class="menu__title">Menu</p>
    <ul class="menu__list">
      <li><a href="#">first</a></li>
    </ul>
  </nav>
</div>
{%- endmacro %}

{% macro fullnav(footer_text="Contact Info") -%}

{{ sidenav() }}

<nav class="top is-mobile-responsive has-centered has-bg-secondary">
  <div class="top__brand ">
    <a href="/">
      <div class="row is-flex-start">
        <div class="column is-shrink">
          <div class="image is-medium">
            <iconify-icon icon="material-symbols:alarm-smart-wake-outline" width="100%" height="100%"></iconify-icon>
          </div>
        </div>
        <div class="column">
          <span class="is-very-big-heading">Intervals</span>
        </div>
      </div>
    </a>
  </div>
  <div class="top__burger has-animate is-end" id="burger">
    <span></span>
  </div>
</nav>

{%- endmacro %}